<body>
    <header>
        <h3>Examen Quimestral Santiago Lamar</h3>
    </header>
    <div>

        <div>
            <p>Por favor ingrese su nombre</p>
            <input type="Nombre">
        </div>
        <div>
            <p>Por favor ingrese su apellido</p>
            <input type="Apellido">

        </div>
        <div>
            <p>Por favor ingrese su edad</p>
            <input type="Edad">

        </div>
        <div>
            <p>Por favor Ingrese su Dirreccion</p>
            <input type="Dirreccion ">

        </div>
        <div>
            <p>Por favor ingresa tu edad</p>
            <input ngModel="Edad" type="Edad">

        </div>

    </div>
</body>